<%= form_for(@guestbook_entry) do |f| %>
  <% if @guestbook_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guestbook_entry.errors.count, "error") %> prohibited this guestbook_entry from being saved:</h2>

      <ul>
      <% @guestbook_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Sign the Guestbook" %>
  </div>
<% end %>
