<h1>Photos</h1>
<div class="thumbnails">
  <%= image_tag "gallery1_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery2_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery3_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery4_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery5_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery6_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery7_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery8_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery9_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery10_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery11_thumbnail.jpg", :width => '260px', :height => '180px' %>
  <%= image_tag "gallery12_thumbnail.jpg", :width => '260px', :height => '180px' %>
</div>