<h1>Invitations <small>(<%= Invitation.count %>)</small></h1>

<%= link_to 'New Invitation', new_invitation_path %>

<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Responded</th>
      <th>Total guests allowed</th>
      <th>Total guests attending</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @invitations.sort_by(&:name).each do |invitation| %>
    <tr>
      <td><%= link_to invitation.name, invitation %></td>
      <td><%= t(invitation.responded.to_s) %></td>
      <td><%= invitation.max_attendees %></td>
      <td><%= invitation.attendees.count %></td>
      <td>
        <ul>
          <li><%= link_to 'Edit', edit_invitation_path(invitation) %></li>
          <li><%= link_to 'Destroy', invitation, confirm: 'Are you sure?', method: :delete %></li>
        </ul>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th>
        <%= Invitation.count == 0 ? '0' : (Invitation.where(:responded => true).count / Invitation.count.to_f * 100.0).round(0) %>%
      </th>
      <th><%= @invitations.map(&:max_attendees).sum %></th>
      <th><%= Attendee.count %></th>
    </tr>
  </tfoot>
</table>
